$primary: #EC1F46
$secondary: #F5FAFE
$text-color: #333333
$dark: #0A223D
$light: #fff
@mixin btn
  position: absolute
  top: 0
  right: 0
  height: 100%
  border: none
  background-color: $primary
  cursor: pointer
  color: $light
@mixin size-title
  font-weight: 600
  font-size: 36px
  line-height: 45px
  text-transform: uppercase
@mixin arrow-pos
  position: absolute
  top: 50%
  transform: translateY(-50%)
  z-index: 99
  width: 30px
  height: 30px
  border: none
  cursor: pointer
  background-repeat: no-repeat
  background-position: center
  background-size: 10px
  background-color: transparent
